APP_NAME=url_shortener_api
ENVIRONMENT=development                    # development | staging | production
LOG_LEVEL=DEBUG                            # DEBUG | INFO | WARNING | ERROR

REDIS_URL=redis://:omaressam@localhost:6379/0
POSTGRES_URL=postgresql+asyncpg://:@localhost:5432/

